.header_menu{
    position: absolute;
    z-index: 99;
    left:28%;
    margin-top: 55px;
}
.header_menu ul{
    list-style: none;
    display: flex;
}

.header_menu ul li a{
    color: white;
    font-size: 20px;
    padding-left:25px ;
    padding-right: 25px;

}
.header_menu ul li a:hover{
    color: #fb383b;
}


.login{
    width: 17%;
    margin-top: 55px;
    position: absolute;
    z-index: 99;
    right: 1.401%;
}


/* menu-end */

.form{
    display: block;
    width: 70%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.form .formdn,.formdk{
    width: 50%;
    float: left;
}
.formdn hr{
    width: 60%;
    box-sizing: border-box;
}
.formdn h1{
    display: block;
    text-align: center;
    margin-bottom: 40px;

}
.formdn .l1{
    display: block;
    margin-left: 20%;
}
.formdn input{
    width: 60%;
    display: block;
    height: 35px;
    outline: none;
    font-size: 15px;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid rgba(133, 133, 133, 0.637);
    border-radius: 3px;
}

.formdn .buttonx {
    display: block;
    width: 60%;
    height: 42px;
    margin: auto;
    margin-top: 40px;
    box-sizing: border-box;
    color: white;
    margin-bottom: 20px;
    background-color: #fb383b;
    border: none;
    outline: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.formdn .buttonx:hover {
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
}

.formdn .btd{
    display: flex;
    width: 60%;
    height: 33px;
    margin: auto;
    margin-top: 20px;
    box-sizing: border-box;
    vertical-align: middle;
    align-items: center;
    border: 1px solid rgb(201, 201, 201);
}
.formdn .btd:hover{
    background-color: gray;
}
.formdn .btd img{
    width: 20px;
    height: 20px;
    color: transparent;
    margin-right: 10px;
    margin-left: 25px;
}
.formdn .qmk {
    display: block;
    margin-top: 30px;
    text-decoration: none;
    text-align: center;
}
.formdn .qmk:hover{
    color: red;
    
}
.formdn ul{
    list-style: none;
    text-align: center;
    
  }
  .formdn ul li{
    display: inline;
    padding: 20px;
  }
  .formdn img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
   
  }
  .formdn img:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  }
  


/* fromdk end */

.formdk {
    border-left: 1px solid gray;
    box-sizing: border-box;
}
.formdk h1{
    display: block;
    text-align: center;
    margin-bottom: 40px;
}
.formdk .l1{
    display: block;
    margin-left: 20%;
}
.formdk .nput{
    width: 60%;
    display: block;
    height: 35px;
    outline: none;
    font-size: 15px;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid rgba(133, 133, 133, 0.637);
    border-radius: 3px;
}

.formdk .buttonx{
    display: block;
    width: 60%;
    height: 42px;
    margin: auto;
    margin-top: 40px;
    box-sizing: border-box;
    color: white;
    margin-bottom: 20px;
    background-color: #fb383b;
    border: none;
    outline: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.formdk .buttonx:hover {
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
}
.formdk .st{
    display: flex;
    width: 60%;
    height: 35px;
    align-items: center;
    margin: auto;
}
